@import 'mocha.css';

* {
  /* `otf-font-awesome` is required to be installed for icons */
  font-family: FontAwesome, lato;
  font-size: 15px;
}

window#waybar {
  background-color: transparent;
  color: #ffffff;
  transition-property: background-color;
  transition-duration: .5s;
}

window#waybar.hidden {
  opacity: 0.2;
}

/*
window#waybar.empty {
  background-color: transparent;
}
window#waybar.solo {
  background-color: #FFFFFF;
}
*/

window#waybar.termite {
  background-color: #3F3F3F;
}

window#waybar.chromium {
  background-color: #000000;
  border: none;
}

button {
  /* Use box-shadow instead of border so the text isn't offset */
  /* Avoid rounded borders under each button name */
  border: none;
  border-radius: 0;
}

#window {
  padding: 8px 0px 0px 0px;
  color: @widget-foreground;
}

#clock,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#network,
#pulseaudio,
#wireplumber,
#tray,
#mode,
#idle_inhibitor,
#scratchpad,
#power-profiles-daemon,
#mpd,
#custom-waybar-media,
#custom-keyboard-layout,
#custom-window,
#workspaces {
  background-color: @widget-background;
  color: @widget-foreground;
  padding: 4px 6px 4px 6px;
  margin: 6px 1px 0px 1px;
  border-radius: 8;
}

#workspaces button {
  color: @widget-foreground;
  border-radius: 8;
  padding: 0px 4px 0px 0px;
  margin: 1px 1px 1px 1px;
}

#workspaces .active {
  background-color: @widget-background-active;
}

#workspaces .inactive {
  background-color: @widget-background;
}

#workspaces .urgent {
  background-color: @widget-background-blink;
}

#custom-waybar-media {
  padding: 5px 6px 4px 6px;
}

#clock {
  padding: 8px 6px 4px 6px;
}

#custom-keyboard-layout {
  padding: 6px 6px 4px 6px;
}

#backlight {
  padding: 4px 8px 4px 6px;
}

#battery {
  padding: 4px 12px 4px 6px;
}

#window {
  margin: 0 4px;
}

#battery.charging, #battery.plugged { }

@keyframes blink {
  to {
    background-color: @widget-background-blink;
    color: @widget-foreground-blink;
  }
}

/* Using steps() instead of linear as a timing function to limit cpu usage */
#battery.critical:not(.charging) {
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: steps(12);
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

#power-profiles-daemon.performance { }

#power-profiles-daemon.balanced { }

#power-profiles-daemon.power-saver { }

label:focus {
  background-color: #000000;
}

#network.disconnected {
  background-color: #f53c3c;
}

#pulseaudio.muted { }

#wireplumber {
  color: #000000;
}

#wireplumber.muted {
}

#custom-media {
  color: #2a5c45;
  min-width: 100px;
}

#custom-media.custom-spotify {
}

#custom-media.custom-vlc {
}

#temperature.critical {
  background-color: #eb4d4b;
}

#tray > .passive {
  -gtk-icon-effect: dim;
}

#tray > .needs-attention {
  -gtk-icon-effect: highlight;
  background-color: #eb4d4b;
}

#idle_inhibitor.activated {
  background-color: @widget-background-active;
  color: @widget-foreground;
}

#mpd.disconnected {
}

#mpd.stopped {
}

#mpd.paused {
}

#language {
  color: #740864;
  padding: 0 5px;
  margin: 0 5px;
  min-width: 16px;
}

#keyboard-state {
  color: #000000;
  padding: 0 0px;
  margin: 0 5px;
  min-width: 16px;
}

#keyboard-state > label {
  padding: 0 5px;
}

#keyboard-state > label.locked {
  background: rgba(0, 0, 0, 0.2);
}

#scratchpad {
  background: rgba(0, 0, 0, 0.2);
}

#scratchpad.empty {
	background-color: transparent;
}

#privacy { }

#privacy-item {
  padding: 0 5px;
  color: white;
}

#privacy-item.screenshare {
  background-color: #cf5700;
}

#privacy-item.audio-in {
  background-color: #1ca000;
}

#privacy-item.audio-out {
  background-color: #0069d4;
}

.modules-left {
  margin-left: 10px;
}

.modules-right {
  margin-right: 10px;
}

